@model IEnumerable<jxgl.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ssex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sacad)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ssex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sacad)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Sno }) |
            @Html.ActionLink("Details", "Details", new { id = item.Sno }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Sno })
        </td>
    </tr>
}

</table>
