@model jxgl.Models.Teacher

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tsex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tsex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tacad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tacad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tpwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tpwd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tno }) |
    @Html.ActionLink("Back to List", "Index")
</p>
